<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="refresh" content="60">
        <title>Crypto Converter</title>
    </head>
    <body>
        <div class = "container">
            <div class = "dataContainer">
                <h1 class = "header">
                    {{data[2]}} to {{data[3]}} Conversion
                </h1>
                <h2>Rate: {{data[4]}}</h2>
                <h2>Last Updated: {{data[0]}} at {{data[1]}}</h2>
            </div>
        </div>
    </body>
</html>